* {
    box-sizing: border-box;
}

div#wrapper, footer {
    margin:0px;
    width: 1450px;
    background-color: white;
    padding: 20px;
}

body {
    font-family: "Arial", "sans-serif";
    line-height: 24px;
}

ul {
    margin: -30px;
    padding: 10px;
}

li {
    background-color: dodgerblue;
    padding: 30px;
    padding-left: 20px;
    border-top: 1px solid white;
}

li a {
    color: black;
    text-decoration: none;
    font-weight: 700;
}

@media all and (min-width: 550px) {
    ul {
        background-color: dodgerblue;
    }

    li {
        display: inline-block;
        border: none;
    }

    section.hoofd {
        margin-left: 77%;
        margin-top: 5%;
    }
    section.text {
        margin-left: 63%;
        margin-top: 1%;
    }
    section.concert {
        margin-top: -47%;
        margin-bottom: 10%;
        margin-left: 5%;
    }
    section.pics {
        width: 67%;
        margin-left: 35%;
        margin-bottom: 1%;
    }
    section.meer {
        margin-top: -6%;
        margin-left: 10%;
        margin-bottom: 5%;
    }

    footer {
        background-color: rgb(166, 166, 166);
        color: white;
    }

    footer a {
        color: white;
    }
}