* {
    box-sizing: border-box;
}
div#wrapper, footer {
    width: 1500px;
    background-color: white;
    padding: 0px;

}

body {
    margin: -0px;
    padding: -0px;
    font-family: 'Raleway', sans-serif;
}

div#wrapper {
    background-color: white;
}
ul {
    margin: 0px;
    padding: 0px;
}

li {
    background-color: dodgerblue;
    padding: 30px;
    padding-left: 20px;
    border-top: 1px solid white;
}

li a {
    color: black;
    text-decoration: none;
    font-weight: 700;
}

@media all and (min-width: 550px) {
    ul {
        background-color:dodgerblue;
    }

    li {
        display: inline-block;
        border: none;
    }
}

h3 {
    color: rgb(220, 106, 94);
    font-weight: 600;
}

section, footer {
    padding: 10px;
}
section.bal {
margin-left: 2.5%;
}

section.foto {
    margin-left: 54%;
    margin-top: -23%;
}


    section#nieuws {
        width: 25%;
        float: left;
        margin-left: 2.5%;
        margin-top: 1.5%;

    }
    section.volley {
        margin-left: 75%;
        margin-top: 2%;
        margin-bottom: 10%;
        width: 1%;
    }

    section#teksten {
        width: 50%;
        float: right;
        margin-right: 22%;
        margin-top: 0%;
    }
section.head {
    margin-left: 35%;
}

@media all and (min-width: 920px) {
    section.nieuws {
        width: 100%;
        float: left;

    }

    section.teksten {
        width: 100%;
        float: right;
    }
}

article {
    display: inline-block;
    width: 45%;
    margin-right: 30px;
}


footer {
    background-color: rgb(128, 128, 128);
    color: white;
    clear: both;
}

footer h3 {
    color: white;
}
}